body{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    
    
}
p{
    color: rgba(240, 248, 255, 0.664);
}
.ChaName{
    color: yellow;
    font-size: xx-large;
    border: 2px solid black;
  
    
}
section{
    display: flex;
    background-position: right;
    
}
#half-width-s1{
    width: 50%;
}
#half-width-s2{
    width: 50%;
}
#top{
    text-align: center;
    background-color: rgba(83, 16, 16, 0.575);
 
}
#p-top{
    text-align: center;
    color: white;
    text-decoration: underline;
}
#lastsec{
    border-bottom: 10px solid white;
}
#lasth1{
    text-align: center;
}
#lasth2{
    color:rgba(240, 248, 255, 0.664) ;
    text-align: center;
}

.smaller-pic{
    width: 100%;
    
}
.link-button{
    text-decoration: none;
    border: 2px s;
    color: white;
    background-color: rgba(137, 43, 226, 0.527);
    padding: 10px 10px 10px 10px;
}