body{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    
    
}
p{
    color: rgba(240, 248, 255, 0.664);
}
.ChaName{
    color: yellow;
    font-size: xx-large;
    border: 2px solid black;
    
}
section{
    display: flex;
    background-position: right;
    
}
#half-width-s1{
    width: 50%;
}
#half-width-s2{
    width: 50%;
}
